/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100vh;}

/* Set gray background color and 100% height */
.sidenav {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #233C48;
    height: 100%;
}

.gradBackground {
    background: #07090B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#07090B, #1C2431); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#07090B, #1C2431); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#07090B, #1C2431); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#07090B, #1C2431); /* Standard syntax */
}

/* Override Bootstrap Color*/
h1, h2, h3, h4, h5 ,h6{
    color: #E6EDF3;
}

.col-sm-10 {
    height: 99%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 1;
    border-radius: 35px;
}

.btn:focus {
    outline: 0 none !important;
}

.cooltext{
    font-size: large !important;
    stroke: #E6EDF3;
    fill: #233C48;
}

g text{
    font-size: large !important;
    fill:  #E6EDF3;
}